@charset "UTF-8";
body{
    background-color: rgb(193, 226, 223);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    background-color: rgb(73, 98, 99);
    color: rgb(57, 222, 228);
}
h2{
    color: rgb(194, 9, 9);
}
p{
    text-align: justify;
}
